{% extends "base.html" %}

{% block title %}Pineappleenger | Home{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <h2>If you want to use this messenger, please login or sign up!</h2>
            {% if not 'logged_in' in session %}
            <form id="loginform" method="post">
                <input type="email" name="email" required>
                <input type="password" name="password" required>
                <input type="submit">
                {% endif %}
            </form>
            <a href="{{url_for('signup')}}">Sign Up</a>
            <div class="col-md-8">
                <h2>Last News</h2>
                {% if news %}
                    {% for m in news %}
                    <p>{{m.data}}</p>
                    {% endfor %}
                {% else %}
                    <p>No any news</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}