{% extends "base.html" %}
{% block title %}Pineappleenger | Home{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% if not 'logged_in' in session %}
            <div class="login">
                <h3>Log in</h3><br>
            <form action="/login" method="post">
                <div class="form-row">
                    <div class="form-group col-md-100">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email" required>
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Password" required>
                    </div>
                </div>
                 <button type="submit" class="btn btn-primary">Log in</button>
            </form>
            {% else %}
                <div class="message_block">
                    {% for message in messages %}
                    <div class="msg_author"><p>{{message.author}}</p></div>
                    <div class="msg_text"><p>{{message.text}}</p></div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-8">
            </div>
        </div>
    </div>
    </div>
{% endblock %}